body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    .mermaid svg text {
  font-size: 16px; /* Prueba a aumentar un poco el tamaño de la fuente */
  line-height: 1.5; /* Prueba a aumentar el interlineado */
  padding-top: 5px; /* Prueba a añadir espacio superior al texto */
  padding-bottom: 5px; /* Prueba a añadir espacio inferior al texto */
}
}
